body {
  margin: 0px;
  padding: 0px;
}
main,
header {
  width: 100%;
}
.head_shop {
  width: 100%;
  min-height: 150px;
  border: 1px solid #000;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.title_shop {
  width: 80%;
  padding: 10px;
  border: 1px solid #000;
  background-color: #a3c5db;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.head_js {
  width: 20%;
  padding: 10px;
  border: 1px solid #000;
  background-color: #81afda;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.e_shop_js {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.on_screen {
  display: none;
}
/*Стиль для блока доп товара*/
/*=======================================*/
.block_dop {
  width: 100%;
  background-color: #f7cb98;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block_dop ul {
  font-size: 20px;
}
.block_dop ul li {
  list-style-type: none;
  font-size: 18px;
}
/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}
/* стили для метки */
label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 20px/30px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  -o-border-image: initial;
     border-image: initial;
  vertical-align: middle;
}
/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: "\2714";
}
/* disabled */
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}
/*========================================*/
/*Стили для блока корзины*/
/*
.block_basket {
    width     : 100%;
    margin    : 5px 0 0 0;
    display   : flex;
    border    : 1px solid #000;
    box-sizing: border-box;
}

.basket_img {
    image-rendering    : auto;
    width              : 250px;
    height             : 300px;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-color   : #ccc;
    background-position: center;
    box-sizing         : border-box;
}

.content_basket {
    width     : 80%;
    padding   : 20px;
    box-sizing: border-box;
}
*/
/*-----------------------------------------*/
/* Стили для блока продукта */
/*
.product_box {
    width              : 200px;
    height             : 250px;
    margin             : 5px 10px;
    border             : 1px solid #000;
    box-shadow         : 3px 3px 10px rgb(23, 79, 124);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-color   : #ccc;
    background-position: center;
    position           : relative;
    box-sizing         : border-box;
}

.name_h2 {
    text-align : center;
    color      : #fff;
    text-shadow: 2px 2px 3px #000;
    box-sizing : border-box;
}

.name_h2>h2 {
    margin: 5px 0 0 0;
}

.price_botton {
    width     : 100%;
    position  : absolute;
    bottom    : 5px;
    text-align: center;
}

.price_botton span {
    font-size  : 24px;
    color      : #fff;
    text-shadow: 2px 2px 3px #000;
}

.add_product,
.remove_product {
    width : 30px;
    height: 30px;
    margin: 0 5px 0 5px;
}
*/
/* ================================== */
