body {
  margin: 0px;
  padding: 0px;
}
main {
  width: 1440px;
}
.e_shop {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #eee;
}
/* Стили для блока продукта */
/*
.product_box {
    width              : 100px;
    height             : 200px;
    border             : 1px solid #000;
    background-image   : url();
    background-size    : cover;
    background-repeat  : no-repeat;
    background-color   : #ccc;
    background-position: center;
    position           : relative;
}

.name_h2 {
    text-align: center;
}

.name_h2>h2 {
    margin: 5px 0 0 0;
}

.price_bottom {
    position: absolute;
    bottom  : 5px;
    left    : 35px;
}

.price_bottom span {
    font-size  : 24px;
    text-shadow: 3px 3px 3px#fff;
}

.add_product,
.remove_product {
    width : 30px;
    height: 30px;
    margin: 0 5px 0 5px;
}
*/
/* ================================== */
