body {
  margin: 0px;
  padding: 0px;
}
main,
header {
  width: 100%;
}
.head_shop {
  width: 100%;
  min-height: 150px;
  border: 1px solid #000;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.title_shop {
  width: 80%;
  padding: 10px;
  border: 1px solid #000;
  background-color: #a3c5db;
  color: #000;
}
.head_js {
  width: 20%;
  padding: 10px;
  border: 1px solid #000;
  background-color: #81afda;
}
.e_shop_js {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Стили для блока продукта */
/*
.product_box {
    width              : 200px;
    height             : 250px;
    margin             : 5px 10px;
    border             : 1px solid #000;
    box-shadow         : 3px 3px 10px rgb(23, 79, 124);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-color   : #ccc;
    background-position: center;
    position           : relative;
}

.name_h2 {
    text-align : center;
    color      : #fff;
    text-shadow: 2px 2px 3px #000;
}

.name_h2>h2 {
    margin: 5px 0 0 0;
}

.price_bottom {
    width     : 100%;
    position  : absolute;
    bottom    : 5px;
    text-align: center;
}

.price_bottom span {
    font-size  : 24px;
    color      : #fff;
    text-shadow: 2px 2px 3px #000;
}

.add_product,
.remove_product {
    width : 30px;
    height: 30px;
    margin: 0 5px 0 5px;
}
*/
/* ================================== */
